@media screen and (min-width:992px){
	#our-progress div{
		width:20%;
	}
}
@media screen and (max-width:1024px){
	#logo{
		margin:0 auto;
	}
	#caption{
		position:relative;
		margin-top:17vh;
	}
	nav{
		top:220px;
	}
}	
@media screen and (max-width:991px){
	.group-margin-bottom{
		margin-bottom:20px;
	}
	#plan-description{
		margin-top:20px;
	}
	#our-progress div{
		width:50%;
		background-size:auto 100%;
		margin-bottom:25px;
	}
	#our-progress div:last-child{
		width:100%;
		margin-bottom:0;
	}
	#our-progress img{
		width:93px;
	}
	.s04-hover{
		width:330px;
		height:330px;
	}
	#subscribe .all-button	{
		margin-top:30px;
	}
	#subscribe{
		background-image:none;
	}
	.s06-item{
		margin-top:30px;
		max-width:330px;
		margin-left:auto;
		margin-right:auto;
	}
	#video{
		padding-bottom: 100px;
		padding-top:100px;
		min-height:687px;
		
	}
	#video img{
		margin-top:50px;
		margin-bottom:50px;
	}
	#myVideo{
		height:100%;
		width:auto;
	}	
}
@media screen and (max-width:1199px) and (min-width:992px){
	#s01 figcaption{
		width: 150px;
	}
	#plan-description{
		padding:20px 20px;
	}
	.s04-hover{
		width:283px;
		height:283px;
	}
	.reviews{
		margin-top:0;
	}	
}
@media screen and (max-width:600px){
	#caption{
		font-size:10vw;
	}
	#contact-form{
		padding-left:15px;
		padding-right:15px;
		margin-top:30px;
	}
}
@media screen and (min-width:601px){
	.s04-modal-body{
		max-width:600px;
		margin-left:auto;
		margin-right:auto;
	}
}
@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media screen and (max-width:767px){
	nav{
		top:220px;
		width:100%;
		overflow:visible;
	}
	nav div:nth-child(2){
		position:absolute;
		top:57px;
		width:100%;
		background:rgba(207, 97, 96, 1);
		z-index:100;
	}
	#move-menu li{
		text-align:center;
		border-bottom:1px solid white;
		display:block;
	}
	#move-menu li a:hover{
		color:#000;
	}
	#social{
		bottom:10px;
	}
	#show-hide-menu-mob{
		display:block;
	}
	#show-hide-menu{
		display:none;
	}
	#our-progress div{
		width:100%;
	}
	.s04-hover{
		width:370px;
		height:370px;
		left:50%;
		margin-left:-185px;
	}
	#subscribe  input{
		margin-top:30px;
	}
	.s05-item{
		max-width:300px;
		margin-left:auto;
		margin-right:auto;
	}
	#video h2{
		font-size:10vw;
	}

}
@media screen and (max-width:550px){
	#plan-description{
		padding:20px 20px;
	}
	
}
@media screen and (max-width:490px){
	#plan-description div{
		clear:both;
		display:block;
	}
	#plan-description .pull-right{
		width:100%;
		text-align:center;
	} 
}
@media screen and (max-width:474px){
	#s05-categories select, #s05-categories button, #s09-categories select, #s09-categories button{
		display:block;
		margin:10px auto;
	}
}
@media screen and (max-width:434px){
	#caption{
		background-size:100% auto;
		margin-top:5vh;
		height:70vh;
	}
	#logo{
		width:150px;
		height:142px;
		padding-top:5px;		
	}
	#logo div{
		border: 75px solid transparent;
		border-top: 142px solid #f2f2f2;	
	}
	nav{
		top:152px;
	}
}
