:active, :focus{
	outline:none;
	}
a:link, a:visited, a:hover, a:active{
	text-decoration:none;
	color:white;
}	
@font-face{
	font-family: Arizona; /* ָל רנטפעא */
    src: url(../fonts/Arizonia-Regular-OTF.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face{
	font-family: Oswald-Light; /* ָל רנטפעא */
    src: url(../fonts/oswald/Oswald-Light.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face{
	font-family: Oswald-Medium; /* ָל רנטפעא */
    src: url(../fonts/oswald/Oswald-Medium.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
@font-face{
	font-family: OpenSans-Semibold; /* ָל רנטפעא */
    src: url(../fonts/OpenSans-Semibold.ttf); /* ֿףע ך פאיכף סמ רנטפעמל */
}
#main{
	background:url(../images/main2.jpg) no-repeat center center;
	background-size:cover;
	/*filter:grayscale(0.9) /*blur(5px)*/;
	}
#logo{
	position:relative;
	width:184px;
	height:176px;
	background:#ffffff;
	text-align:center;
	padding-top:30px;
	margin-left:20px;
}
#logo div{
	border: 92px solid transparent;
	border-top: 176px solid #f2f2f2;
	position:absolute;
	top:0;
}
#logo img{
	position:relative;
	z-index:1;
}
#logo p{
	position:relative;
	z-index:1;
	font-family: Oswald-Light;
    font-size: 30px;
}
#logo p span{
	font-size:25px;
}	
#mask{
	position:absolute;
	width:100%;
	background:#000;
	opacity:0.9;
	height:100%;
}
#caption{
	position:absolute;
	top:50%;
	margin-top:-250px;
	width:100%;
	text-align:center;
	font-family:Oswald-Light;
	font-size:60px;
	color:white;
	background:url(../images/grafic.png) no-repeat center top;
	background-size:auto 100%;
	height:500px;
	padding-top:40px;
}

#arizona{
	font-family: Arizona;
	transform: rotate(350deg);
	display:inline-block;
}
#arizona span{
	color:#cf6164;
	margin-left:-65px;
	vertical-align:35px;
}
.all-button{
	font-family:OpenSans-Semibold;
	font-size:12px;
	background:rgba(207, 97, 96, 1);
	border:none;
	border-radius:25px;
	padding:10px 20px;
	color:white;
	text-transform:uppercase;
}
nav{
	position:absolute;
	top:60px;
	right:0;
	padding-right:13px;
	background:rgba(255, 255, 255, 0.1);
	height:57px;
	overflow:hidden;
}
nav div{
	float:right;
}
nav div button{
	margin-top:10px;
	margin-left:8px;
}
#show-hide-menu, #show-hide-menu-mob{
	padding-right:13px;
	padding-left:13px;
	padding-top:20px;
	padding-bottom:20px;
	font-size:12px;
	text-transform:uppercase;
	height:100%;
	display: inline-block;
	letter-spacing:5px;
}
#show-hide-menu:hover, #show-hide-menu-mob:hover{
	color:rgba(207, 97, 96, 1);
}
#show-hide-menu-mob{
	display:none;
}
#move-menu{
	margin-bottom:0;
	padding-left: 0;
	margin-left: -5px;
    list-style: none;
}
#move-menu li {
	display: inline-block;
	padding-left:0;
	padding-right:0;
}
	
nav ul li a{
	color:white;
	text-transform:uppercase;
	font-size:12px;
	padding:20px 12px;
	height:100%;
	display: block;
	
}
#move-menu li a.activ, #move-menu li a:hover{
	background:rgba(207, 97, 96, 1);
}
#social{
	position:absolute;
	bottom:20px;
	right:25px;
	font-size:18px;
}
.carousel-indicators li{
	border:0;
	background:rgba(255, 255, 255, 0.5);
	margin-right:5px;
}
.carousel-indicators .active{
	border:0;
	background:rgba(207, 97, 96, 1);
	width:30px;
}
#social li {
	margin-top:10px;
}
#social li a{
	padding-left:10px;
	border-left:3px solid rgba(207, 97, 96, 0);	
	color:rgba(255, 255, 255, 0.5);
}
#social li a:hover{
	color:rgba(207, 97, 96, 1);
	border-left:3px solid rgba(207, 97, 96, 1);
}

.grey-vertical-line{
	width:40px;
	height:140px;
	background:rgba(180, 180, 180, 0.5);
}

.red-line{
	width:40px;
	height:5px;
	margin-top:5px;
	background:rgba(207, 97, 96, 1);
}
.section-title{
	font-family: Oswald-Light;
	text-transform:uppercase;
	font-size:45px;
}
.section-title-smol{
	font-family: Oswald-Light;
	text-transform:uppercase;
	font-size:30px;
}
.section-title span, .section-title-smol span{
	color:rgba(207, 97, 96, 1);
}
#s01{
	padding-bottom:140px;
}
#s01 img{
	border:10px solid rgba(180, 180, 180, 0.5);
}
#s01 figure{
	position:relative;
}
#s01 figcaption, #s03 figcaption, #s08 figcaption{
	position:relative;
	top:-35px;
	background:white;
	width:210px;
	height:60px;
	margin:0 auto;
	line-height:60px;
	font-family: Oswald-Light;
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.58);
	box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.58);
}
#s01 figure:hover img, .figure-active img{
	border-color:rgba(207, 97, 96, 1)!important;
}
#s01 figure:hover figcaption, .figure-active figcaption{
	background:rgba(207, 97, 96, 1)!important;
	color:#fff!important;
}
#s02, #s05{
	color:rgba(180, 180, 180, 0.5);
	padding-bottom:140px;
}
#s02{
	background:url(../images/s02-bg.jpg) no-repeat 50% 50%;
	background-size:cover;
}
#s02 h2, #s02 h3, #s05 h2{
	color:#fff;
}
#s02 .big-img-sider img{
	border:10px solid rgba(255, 255, 255, 0.1);
	min-width:100%;
}
#s02 .small-img-slider{
	background:rgba(255, 255, 255, 0.1);
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	margin-top:20px;
}
#s02 .small-img-slider img{
	border:5px solid rgba(255, 255, 255, 0.1);
}
#s02 .small-img-slider img:hover{
	border:5px solid rgba(207, 97, 96, 1);
}
.pricing-arrow{
	height:75px;
	background:#f2f2f2 url(../images/s03-grey.jpg) no-repeat right center;
	background-size:auto 100%;
	font-family: Oswald-Light;
	text-transform:uppercase;
	font-size:25px;
	padding-top:20px;
	margin-bottom:25px;
}
.pricing-arrow p{
	padding-left:15px;
	border-left:5px solid rgba(207, 97, 96, 1);
	margin-bottom:0;
}
.pricing-arrow:hover, .pricing-arrow-active{
	background:rgba(207, 97, 96, 1) url(../images/s03-red.jpg) no-repeat right center;
}
.pricing-arrow:hover p, .pricing-arrow-active p{
	color:#fff;
	border-left:5px solid #fff;;
}
#plan-description{
	border:10px solid #f2f2f2;
	padding:20px 50px;
}
#plan-description .badge{
	width:84px;
	height:84px;
	border-radius:42px;
	line-height:84px;
	padding:0;
	background:#000;
}
.no-transform-header{
	font-family:Oswald-Light;
	font-size:30px;
}
.plan-description-item{
	margin-bottom:20px;
}
.plan-description-item:last-child{
	margin-bottom:0;
}
.plan-description-item:hover .badge,  .plan-description-item-active .badge{
	background:rgba(207, 97, 96, 1)!important;
}
.plan-description-item:hover h4, .plan-description-item-active h4 {
	color:rgba(207, 97, 96, 1)!important;
}
#s03 figcaption{
	top:-55px!important;
}
#our-achievements{
	background:url(../images/s03-bg.jpg) no-repeat right top;
	background-size:cover;
	margin-top:100px;
}
#our-progress {
	color:#fff;
	padding-top:100px;
	padding-bottom:100px;
}
#our-progress div{
	padding-left:15px;
	padding-right:15px;
	float:left;
	text-align:center;
	/*border:1px solid red;*/
	padding-top:20px;
	background:url(../images/grafic2.png) no-repeat center top;
	background-size:80% auto;
}
#our-progress img{
	width:30%;
}
#s04{
	padding-bottom:100px;
}
#s04-menu{
	font-family: Oswald-Light;
    text-transform: uppercase;
    font-size: 20px;
}
#s04-menu li{
	padding-left:15px;
	margin-bottom:5px;
	border-left:5px solid rgba(207, 97, 96, 0);
}
#s04-menu li:hover, .s04-menu-active{
	color:rgba(207, 97, 96, 1);
	border-left:5px solid rgba(207, 97, 96, 1)!important;
}
#s04-gallery {
	padding-bottom:100px;
}
#s04-gallery div{
	margin-top:30px;	
}	
#s04-gallery img{
	border:10px solid #f2f2f2;
}
.s04-modal-body img{
	border:10px solid #fff;
	width:600px;
}

.s04-modal-body button{
	position:absolute;
	color:#fff;
	background:0;
	border:0;
	right:15px;
	top:5px;
	font-size:36px;
}
.modal {
  text-align: center;
}

.s04-hover{
	display:none;
	position:absolute;
	top:-30px; left:15px;
	width:350px;
	height:350px;
	background:rgba(255, 255, 255, .8);
	border:10px solid rgba(207, 97, 96, 1);
	text-align:center;
}
.s04-hover-active{
	display:block;
}
.s04-hover div{
	position:relative;
	top:50%;
	margin-top:-62px!important;
}
.s04-hover p{
	font-family: Oswald-Light;
    text-transform: uppercase;
    font-size: 25px;	
}
.s04-hover i.fa-search{
	color:rgba(207, 97, 96, 1);
	border:1px solid rgba(207, 97, 96, 1);
	padding:10px;
	margin-bottom:10px;
	cursor:pointer;
}
.s04-hover li a:hover{
	color:rgba(207, 97, 96, 1)!important;
}
.s04-hover li a{
	color:#000;
}

#s04-gallery div:hover  .s04-hover{
	display:block;
}
#s05{
	background:#000 url(../images/s02-bg.jpg) no-repeat 50% 50%;
	background-size:cover;
}
#s05-categories{
	background:rgba(255, 255, 255, 0.1);
	padding-top:50px;
	padding-bottom:50px;
	padding-left:20px;
}
#s05-categories select{
	background:rgba(255, 255, 255, 0.1);
	border:1px solid rgba(255, 255, 255, 0.5);
	padding:10px 40px;
	margin-right:50px;
}
#s05-categories option{
	background:#2a2a2a;
}
.s05-item{
	background:#f5f5f5;
	margin-bottom:30px;
	}
.s05-item-parent{
	padding:0 15px;
}
.s05-item div:first-child{
	position:relative;	
	padding-bottom:30px;
}
.s05-item div:last-child{
	background:#fff;
	padding-top:70px;
	padding-bottom:70px;
}
.s05-item div:last-child h4{
	color:#000;
}

.s05-item .badge{
    width: 124px;
    height: 124px;
    border-radius: 62px;
    line-height: 124px;
    padding: 0;
	background:#fff;
	color:#000;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.58);
	box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.58);
	position:absolute;
	bottom:0;
	left:50%;
	margin-bottom:-62px;
	margin-left:-62px;
}
.stars-active{
	color:rgba(207, 97, 96, 1);
}
.s05-item:hover .s05-badge-hover, .s05-item-active .s05-badge-hover{
	background:rgba(207, 97, 96, 1);
	color:#fff;
}
.s05-border-hover{
	border-top:2px solid rgba(207, 97, 96, 0);
}
.s05-item:hover .s05-border-hover, .s05-item-active .s05-border-hover{
	border-top:2px solid rgba(207, 97, 96, 1);
}
.s05-item:hover .s05-item div:first-child{
	border-bottom:2px solid rgba(207, 97, 96, 1);
}
.s05-item .all-button{
	background:#000;
}
.s05-item:hover .all-button, .s05-item-active .all-button{
	background:rgba(207, 97, 96, 1);
}
#s05 .group-margin-bottom{
	margin-bottom:30px;
}
#subscribe{
	background:rgba(207, 97, 96, 1) url(../images/gorizont-polos.png) no-repeat left center;
	background-size:390px 35px;
	color:#fff;
	padding-top:90px;
	padding-bottom:90px;
}

#subscribe h3{
	border-left:5px solid white;
	margin-top:1px;
	padding-bottom:1px;
	margin-bottom:0;
	font-size:30px;
	padding-left:10px;
}
#subscribe  input{
	background:rgba(255, 255, 255, 0.1);
	border:1px solid rgba(255, 255, 255, 0.5);
	line-height:33px;
	color:#fff;
	width:100%;
	padding-left:10px;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

#subscribe .all-button{
	background:#fff;
	color:#000;
}
#s06{
	text-align:center;
	padding-bottom:140px;
}
.s06-item{
	border:10px solid #f2f2f2;
}
.s06-item:hover{
	border:10px solid rgba(207, 97, 96, 1);
}
#s06 .text-uppercase{
	font-size:25px;
	font-family: Oswald-Light;
	margin-top:25px;
}
#s06 .text-capitalize{
	color:rgba(207, 97, 96, 1);
}
.s06-social-group {
	margin-top:25px;
	position:relative;
	top:10px;
}
.s06-social-group li {
	width:36px;
	height:36px;
	background:#f2f2f2;
	line-height:36px;
	margin-left:10px;
}
.s06-social-group ul li:first-child{
	margin-left:0!important;
}
.s06-social-group li:hover{
	background:rgba(207, 97, 96, 1);
} 
.s06-social-group li:hover a{
	color:#fff;
}
.s06-social-group li a{
	color:#000;
	display:block;
	height:100%;
}
#s06 .group-margin-bottom{
	margin-bottom:30px;
}
#s07{
	background:url(../images/s02-bg.jpg) no-repeat 50% 50%;
	background-size:cover;
	padding-bottom:140px;
	color:#fff;
}
.reviews{
	background:rgba(255, 255, 255, 0.1);
	padding:50px 50px;
	margin-top:100px;
}
.reviews p{
	font-family: Oswald-Light;
	margin-top:15px;
}
.reviews p span{
	color:rgba(207, 97, 96, 1);
}
.reviews a{
	color:#fff;
	background:rgba(207, 97, 96, 1);
	display:inline-block;
	height:30px;
	width:45px;
	line-height:30px;
	padding-right:15px;
}
.reviews a:hover{
	color:rgba(255, 255, 255, 0.5);
}
.reviews a:first-child{
	border-radius:15px 0 0 15px;
}
.reviews a:last-child{
	border-radius:0 15px 15px 0;
}
.reviews div{
	position:relative;
}
.appointment-item{
	margin-top:30px;
}
.appointment-item span{
	width:96px;
	height:96px;
	border-radius:48px;
	line-height:96px;
	background:rgba(207, 97, 96, 1);
}

#contact-form {
	border:10px solid #f2f2f2;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:20px;
}
#contact-form input, #contact-form textarea{
	border-radius:0;
	font-size: 14px;
}
#contact-form textarea{
	resize:none;
}
#contact-form  .input-group input{
	border-right:0;
}
#contact-form .form-inline{
}
#contact-form  .input-group-addon{
	background:none;
	border-left:0;
	border-radius:0;
	color:rgba(207, 97, 96, 1);
}
.form-item, .input-group{
	margin-bottom:20px;
}
#contact-form  button{
	margin-top:20px;
}
#map{
	width:100%;
	height:500px;
	margin-top:140px;
}
#video{
	background: url(../images/s02-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding-bottom: 270px;
	padding-top:270px;
    color: #fff;
	text-align:center;
	font-family:Oswald-Light;
	position:relative;
	overflow:hidden;
	min-height:669px;
}
#myVideo{
	position:absolute; 
	top:0; 
	left:0;
	width:100%;
	height:auto;
	cursor:pointer;
}
.video-row{
	overflow:hidden;
}
#play-button{
	cursor:pointer;
}
#video h2{
		font-size:45px;
		margin:0;
		line-height:129px;
}
#video-text-left, #video-text-right{
	background:rgba(255, 255, 255, 0.1);
	white-space:nowrap;
	position:relative;
}
#video-text-right{
	float:right;
	width:100%;
}
#s09{
	padding-bottom:140px;
}
#s09-categories{
	background:rgba(207, 97, 96, 1);
	padding-top:50px;
	padding-bottom:50px;
	padding-left:20px;
}
#s09-categories select{
	background:rgba(255, 255, 255, 0.1);
	border:1px solid rgba(255, 255, 255, 0.5);
	padding:10px 40px;
	margin-right:50px;
	color:#fff;
}
#s09-categories option{
	background:#2a2a2a;
}
#s09-categories .all-button{
	background:#fff;
	color:#000;
}
#s09 .section-title-smol{
	padding-left:15px;
	border-left:5px solid rgba(207, 97, 96, 1);
}
#s09 img{
	min-width:100%;
}
.s09-item{
	margin-top:30px;
}
.read-more{
	color:rgba(207, 97, 96, 1);
	text-transform:uppercase;
	font-weight:bold;
}
footer{
    background: url(../images/s02-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}
#logo-footer{
	position:relative;
	width:184px;
	height:176px;
	text-align:center;
	padding-top:30px;
	margin:auto;
}
#logo-footer div{
	border: 92px solid transparent;
	border-top: 176px solid #131313;
	position:absolute;
	top:0;
}
#logo-footer img{
	position:relative;
	z-index:1;
}
#logo-footer p{
	position:relative;
	z-index:1;
	font-family: Oswald-Light;
    font-size: 30px;
	color:#fff;
}
#logo-footer p span{
	font-size:25px;
	color:#fff;
}
footer .section-title-smol{
	color:#fff;
	padding-left:15px;
	border-left:5px solid rgba(207, 97, 96, 1);
}
footer p{
    color: rgba(180, 180, 180, 0.5);
}
footer p span{
	color:rgba(207, 97, 96, 1);
}
hr{
	border-top-color: rgba(180, 180, 180, 0.5);
}
footer input, footer button{
	border-radius:0!important;
	background:rgba(255, 255, 255, 0.1)!important;
	border:1px solid rgba(255, 255, 255, 0.5)!important;
	color:#fff!important;
}
footer input{
	border-right:0!important;
}
footer button{
	border-left:0!important;
}
#inst img{
	border:5px solid rgba(180, 180, 180, 0.1);
	margin-top:30px;
}
#footer-social-menu, #copyright{
	background:rgba(255, 255, 255, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
	text-align:center;
	margin-top:30px;
}
#footer-social-menu ul, #copyright p{
	margin-bottom:0;
}
#footer-social-menu a {
	color: rgba(180, 180, 180, 0.5);
	font-family:Oswald-Light;
	font-size:18px;
}
#footer-social-menu a:hover, #footer-social-menu a.activ{
	color:rgba(207, 97, 96, 1)!important;
}
#scroll-top .grey-vertical-line{
	height:50px;
	text-align:center;
	color:#fff;
	line-height:50px;
	cursor:pointer;
}


#scroll-top .red-line{
	margin-bottom:5px;
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

