.checkmark {
    display: none;
}
.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
    opacity: 1;
    height: 20px;
    width: 10px;
    transform-origin: left top;
    border-right: 2px solid #5cb85c;
    border-top: 2px solid #5cb85c;
    content: '';
    left: 8px;
    top: 20px;
    position: absolute;
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 10px;
        opacity: 1;
    }
    40% {
        height: 20px;
        width: 10px;
        opacity: 1;
    }
    100% {
        height: 20px;
        width: 10px;
        opacity: 1;
    }
}

.company-form-faq input.form-control,
.company-form input.form-control{
    /*  background: transparent;*/
    -webkit-transition:0.3s linear;
    -moz-transition:  0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s;
    /* background-color: #fff;*/
    position: relative;
}
.company-form-faq  input.form-control:before,
.company-form  input.form-control:before {
    background: red;
    position: absolute;
    content: "dfsdf";
    width:100%;
    height: 100%;
    display: block;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
.company-form-faq  input.form-control.saving,
.company-form  input.form-control.saving {
    -webkit-transition:0.3s linear;
    -moz-transition:  0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s;
    background-color: rgba(255,255,255,0);
}
.is-loading {
    position: absolute;
    line-height: 37px;
    margin-left: 0px;
    top:1px;
    z-index: 0;
    display: block;
    height: 37px;
    width: 100%;
    float: left;
    text-shadow: none;

    /*   -webkit-transition: none;*/
    /*  transition: none;*/
    background-size: 55px 55px;
    -webkit-animation: progress-bar 2s linear infinite;
    animation: progress-bar 2s linear infinite;
    background-image: -webkit-linear-gradient(45deg, rgb(249, 249, 249) 25%, transparent 25%, transparent 50%, rgb(249, 249, 249) 50%, rgb(249, 249, 249) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgb(249, 249, 249) 25%, transparent 25%, transparent 50%, rgb(249, 249, 249) 50%, rgb(249, 249, 249) 75%, transparent 75%, transparent);

}
.is-loading.loading-faq {
    margin-left: 0;
    width:100%;

}

@-webkit-keyframes progress-bar {
    from {
        background-position: 0 0
    }
    to {
        background-position: 55px 0
    }
}

@keyframes progress-bar {
    from {
        background-position: 0 0
    }
    to {
        background-position: 55px 0
    }
}
.color--green {
    color: #3ba553;
    margin-top: 12px;
    margin-left: 10px;
    position: absolute;
    opacity: 0;
    right: -27px;
    top: 0;
    font-size: 18px !important;
}
.animation-hide {
    opacity: 0;
    -webkit-animation: hide 1s ease-in;
    animation: hide 1s ease-in
}
.animation-show {
    opacity: 1;
    /* -webkit-animation: hide 1s ease-in;
     animation: hide 1s ease-in*/
    -webkit-transition:0.3s linear;
    -moz-transition:  0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s;
}

@-webkit-keyframes hide {
    from {
        opacity: 1
    }
    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px)
    }
}

@keyframes hide {
    from {
        opacity: 1
    }
    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px)
    }
}


@media screen and (max-width: 1199px) and (min-width: 992px) {
/*    .is-loading {
        width:305px;

    }*/
}
@media screen and (max-width: 1199px) {
  /*  .is-loading {
        margin-left: 135px;
    }*/
}


@media screen and (max-width: 767px) {
 /*   .is-loading {
        margin-left: 0;
        top: 25px;
        height: 40px;
    }*/
    .color--green {
        position: absolute;
        right: -23px;
        top: 24px;
    }
 /*   .faq-answers .is-loading {
        top:0;
        height:44px;
    }*/

}
@media screen and (max-width: 420px) {


    .color--green {

        right: 0;
        top: 0;
        margin-top: 3px;
    }
    .faq-answers .color--green {
        top:-20px;
    }

}